body {
  text-align: center;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
}

.wrapper {
  padding-top: 0px;
}

.board {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background: linear-gradient(45deg, #DA22FF, #9733EE);
  box-shadow: 10px 10px 38px -6px rgba(0, 0, 0, 0.71);
  border: 2px solid #ddd;
  overflow: visible;
}

.square {
  height: 33%;
  width: 33%;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 1px solid #FFF;
  font-size: 10em;
  color: #FFF;
  text-align: center; 
}

.square:hover {
  cursor: pointer;
  background: purple;
  alpha: 0.5;
}