body {
  text-align: center;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
}

/*** Modal ***/
.modal {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 500px;
  padding: 24px 20px;
  opacity: 0;

  -webkit-transition: 1000ms opacity ease;
     -moz-transition: 1000ms opacity ease;
      -ms-transition: 1000ms opacity ease;
       -o-transition: 1000ms opacity ease;
          transition: 1000ms opacity ease;

  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  border-radius: 2px;
  border: 2px solid #808080;
  background: #fff;
}

.modal.open {
  opacity: 1;
}

.modal p {
  color: #000;
  font-size: 2em;
}

.modal div {
  height: 150px;
  width: 150px;
  background-color: none;
  display: inline-block;
  border: 1px solid #808080;
  margin: 25px 25px 0px 25px;
  cursor: pointer;
}

.modal div:hover {
  background-color: #000;
  color: #fff;
}

.modal div span {
  line-height: 150px;
  font-size: 5em;
}

/*** Game Board ***/
.wrapper {
  padding-top: 0px;
}

.board {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background: linear-gradient(45deg, #DA22FF, #9733EE);
  box-shadow: 10px 10px 38px -6px rgba(0, 0, 0, 0.71);
  border: 2px solid #ddd;
  overflow: visible;
}

.square {
  height: 33%;
  width: 33%;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 1px solid #FFF;
  font-size: 10em;
  color: #FFF;
  text-align: center; 
}

.square:hover {
  cursor: pointer;
  background: purple;
  alpha: 0.5;
}